In [89]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [90]:
# https://medium.com/@anala007/float-display-in-pandas-no-more-scientific-notation-80e3dd28eabe
pd.options.display.float_format = '{:.6f}'.format
pd.set_option("display.max_columns", 40)
# pd.set_option("display.max_rows", 500)

In [92]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [94]:
ls drive/MyDrive/Airline_Delay_Cause.csv

drive/MyDrive/Airline_Delay_Cause.csv

In [95]:
 def load_csv_files(file_paths: list[str]):
    """
    Loads csv files

    Args:
        file_paths (list[str]): file paths for csv files

    Returns:
        list[pd.DataFrame or None]: Returns list of dataframes or None if file is not found
    """
    try:
        return [pd.read_csv(file) for file in file_paths]
    except Exception as err:
        # handling exceptions like file not found or invalid format of file
        print(err)
        # returning None value for all files
        return [None for _ in file_paths]

In [96]:
df=pd.DataFrame([])
df.delay, df.crash = load_csv_files(['drive/MyDrive/Airline_Delay_Cause.csv','drive/MyDrive/cases2024-05-08_14-52.csv'])
#df.delay, df.crash = load_csv_files(['Airline_Delay_Cause.csv',
#                          'cases2024-05-08_14-52.csv'])

<ipython-input-96-b3638019a1b1>:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.delay, df.crash = load_csv_files(['drive/MyDrive/Airline_Delay_Cause.csv','drive/MyDrive/cases2024-05-08_14-52.csv'])

In [100]:
df.delay.head()

,year,month,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,nas_ct,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
0,2023,12,9E,Endeavor Air Inc.,ABE,"Allentown/Bethlehem/Easton, PA: Lehigh Valley ...",72.000000,5.000000,2.460000,1.000000,0.730000,0.000000,0.810000,0.000000,0.000000,672.000000,61.000000,574.000000,20.000000,0.000000,17.000000
1,2023,12,9E,Endeavor Air Inc.,AEX,"Alexandria, LA: Alexandria International",62.000000,7.000000,4.250000,0.000000,1.000000,0.000000,1.750000,0.000000,0.000000,348.000000,252.000000,0.000000,33.000000,0.000000,63.000000
2,2023,12,9E,Endeavor Air Inc.,AGS,"Augusta, GA: Augusta Regional at Bush Field",95.000000,10.000000,5.940000,0.000000,1.060000,0.000000,3.000000,0.000000,0.000000,859.000000,536.000000,0.000000,47.000000,0.000000,276.000000
3,2023,12,9E,Endeavor Air Inc.,ALB,"Albany, NY: Albany International",23.000000,2.000000,0.560000,0.000000,0.000000,0.000000,1.440000,1.000000,0.000000,75.000000,9.000000,0.000000,0.000000,0.000000,66.000000
4,2023,12,9E,Endeavor Air Inc.,ATL,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",2111.000000,256.000000,76.880000,8.750000,52.430000,0.000000,117.940000,1.000000,0.000000,21424.000000,8906.000000,732.000000,1487.000000,0.000000,10299.000000

In [101]:
df.crash.head()

,NtsbNo,EventType,Mkey,EventDate,City,State,Country,ReportNo,N#,SerialNumber,HasSafetyRec,Mode,ReportType,OriginalPublishedDate,DocketOriginalPublishedDate,HighestInjuryLevel,FatalInjuryCount,SeriousInjuryCount,MinorInjuryCount,ProbableCause,...,Make,Model,AirCraftCategory,AirportID,AirportName,AmateurBuilt,NumberOfEngines,EngineType,Scheduled,PurposeOfFlight,FAR,AirCraftDamage,WeatherCondition,Operator,BroadPhaseofFlight,ReportStatus,RepGenFlag,MostRecentReportType,DocketUrl,ReportUrl
0,CEN24LA079,ACC,193595,2023-12-31T17:40:00Z,Davenport,Iowa,United States,NaN,N773GB,0702,False,Aviation,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,NaN,...,CIRRUS DESIGN CORP,SR22T,AIR,DVN,NaN,false,1,NaN,NaN,PERS,091,Substantial,VMC,JKC LLC,Approach,In work,NaN,Prelim,NaN,https://data.ntsb.gov/carol-repgen/api/Aviatio...
1,ERA24LA084,ACC,193603,2023-12-31T16:13:00Z,Midland,Virginia,United States,NaN,N37GA,004CE,False,Aviation,DirectorBrief,2024-03-21T04:00:00Z,2024-03-21T17:00:00Z,NaN,0.000000,0.000000,0.000000,The pilot’s improper recovery from a bounced l...,...,GOLDEN AVIO S R L,F30 Brio,AIR,HWY,WARRENTON/FAUQUIER,false,1,REC,NaN,PERS,091,Substantial,VMC,NaN,Landing,Completed,NaN,Final,https://data.ntsb.gov/Docket?ProjectID=193603,https://data.ntsb.gov/carol-repgen/api/Aviatio...
2,ERA24FA078,ACC,193581,2023-12-31T14:13:00Z,Mooresville,North Carolina,United States,NaN,N539MA,4692139,False,Aviation,NaN,NaN,NaN,Fatal,1.000000,0.000000,0.000000,NaN,...,PIPER AIRCRAFT INC,PA46R-350T,AIR,14A,LAKE NORMAN AIRPARK,false,1,NaN,NaN,PERS,091,Substantial,VMC,RTM AVIATION LLC,Unknown,In work,NaN,Prelim,NaN,https://data.ntsb.gov/carol-repgen/api/Aviatio...
3,CEN24LA077,ACC,193585,2023-12-30T17:00:00Z,Washington,Missouri,United States,NaN,N678MJ,79-30941,False,Aviation,NaN,NaN,NaN,Serious,0.000000,1.000000,0.000000,NaN,...,BELLANCA,17-30A,AIR,FYG,Washington Regional,false,1,NaN,NSCH,PERS,091,Substantial,VMC,PIASA LLC,Initial Climb,In work,NaN,Prelim,NaN,https://data.ntsb.gov/carol-repgen/api/Aviatio...
4,ERA24LA079,ACC,193587,2023-12-30T16:04:00Z,Daytona Beach,Florida,United States,NaN,"N828AK, FA3XNWMRAN","1689, 163DF81001N020",False,Aviation,DirectorBrief,2024-01-25T05:00:00Z,NaN,NaN,0.000000,0.000000,0.000000,The UAS operator’s failure to operate within t...,...,"ROBINSON HELICOPTER, DJI","R44, MAVIC 2","HELI, UNMANNED",DAB,DAYTONA BEACH INTERNATIONAL,"false, false","1, 4",REC,NaN,"OWRK, OWRK","091, 107","Substantial, Destroyed",VMC,Tunica Helicopters LLC,Approach,Completed,NaN,Final,NaN,https://data.ntsb.gov/carol-repgen/api/Aviatio...

# Data Cleanup

## Airline delay Data cleaning

In [102]:
df.delay.drop_duplicates(keep=False, inplace=True)

Let's check for null values

Creating a function that prints null value counts and proportion for only columns that are having null values

In [103]:
def check_null_values(df: pd.DataFrame):
    """
    Checks null values for each columns in dataframe

    Args:
        df (pd.DataFrame): Source dataframe
    """
    null_value_counts = (df.isnull().sum()).sort_values(ascending=False)
    # Removing columns that are not having null values
    null_value_counts = null_value_counts[null_value_counts != 0]
    null_value_percentages = (null_value_counts/df.shape[0]) * 100
    print("Null values for columns:\n", null_value_counts)
    print("\nNull value percentages for columns:\n", null_value_percentages)

In [104]:
check_null_values(df.delay)

Null values for columns:
 arr_del15              52
nas_ct                 47
security_ct            47
security_delay         47
nas_delay              47
weather_delay          47
carrier_delay          47
arr_delay              47
arr_diverted           47
arr_cancelled          47
late_aircraft_ct       47
late_aircraft_delay    47
weather_ct             47
carrier_ct             47
arr_flights            47
dtype: int64

Null value percentages for columns:
 arr_del15             0.229875
nas_ct                0.207772
security_ct           0.207772
security_delay        0.207772
nas_delay             0.207772
weather_delay         0.207772
carrier_delay         0.207772
arr_delay             0.207772
arr_diverted          0.207772
arr_cancelled         0.207772
late_aircraft_ct      0.207772
late_aircraft_delay   0.207772
weather_ct            0.207772
carrier_ct            0.207772
arr_flights           0.207772
dtype: float64

Since only 0.2% values are null we can drop rows containing null values

In [122]:
df.delay.dropna(inplace=True)

In [123]:
df.delay.info()

<class 'pandas.core.frame.DataFrame'>
Index: 22569 entries, 0 to 22620
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   year                 22569 non-null  int64
 1   month                22569 non-null  int64
 2   carrier              22569 non-null  category
 3   carrier_name         22569 non-null  category
 4   airport              22569 non-null  category
 5   airport_name         22569 non-null  category
 6   arr_flights          22569 non-null  float64
 7   arr_del15            22569 non-null  float64
 8   carrier_ct           22569 non-null  float64
 9   weather_ct           22569 non-null  float64
 10  nas_ct               22569 non-null  float64
 11  security_ct          22569 non-null  float64
 12  late_aircraft_ct     22569 non-null  float64
 13  arr_cancelled        22569 non-null  float64
 14  arr_diverted         22569 non-null  float64
 15  arr_delay            22569 non-null  float64
 16  carrier_delay        22569 non-null  float64
 17  weather_delay        22569 non-null  float64
 18  nas_delay            22569 non-null  float64
 19  security_delay       22569 non-null  float64
 20  late_aircraft_delay  22569 non-null  float64
dtypes: category(4), float64(15), int64(2)
memory usage: 3.3 MB

In [124]:
def change_column_type(df:pd.DataFrame, columns : dict):
  try:
    for ctype, data in columns.items():
      for column in data['columns']:
        try:
            middleware = data.get('middleware', None)
            df[column] = (middleware(df[column]) if middleware is not None else df[column]).astype(ctype)
        except Exception as E:
          print(f"[Error] change_column_type : Error converting column \"{column}\" to {ctype}.\n")
  except Exception as E:
    print(f"[Error] change_column_type : Error converting columns.\n")
  return df

In [125]:
def round_float_col(df : pd.DataFrame):
  return df.round()

In [126]:
df.delay = change_column_type(df.delay,{
    "category" : {
        'columns' : ['carrier', 'carrier_name', 'airport', 'airport_name']
    },
    "int" : {
        'columns' : ['arr_flights','carrier_ct', 'weather_ct','nas_ct', 'security_ct', 'late_aircraft_ct', 'arr_del15', 'arr_cancelled', 'arr_diverted', 'arr_delay', 'carrier_delay', 'weather_delay', 'nas_delay', 'security_delay', 'late_aircraft_delay'],
        'middleware' : round_float_col
    }
    })

In [129]:
df.delay['flight_date'] = pd.to_datetime(df.delay["month"].astype(str) + "-" + df.delay["year"].astype(str))
df.delay['arr_on_time'] = df.delay['arr_flights'] - df.delay['arr_del15'] - df.delay['arr_cancelled'] - df.delay['arr_diverted']

<ipython-input-129-4f85e5fc2602>:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.delay['flight_date'] = pd.to_datetime(df.delay["month"].astype(str) + "-" + df.delay["year"].astype(str))

In [130]:
df.delay['city'] = df.delay['airport_name'].apply(lambda a : a.split(':')[0].split(',')[0].strip())
df.delay['state'] = df.delay['airport_name'].apply(lambda a : a.split(':')[0].split(',')[1].strip())
change_column_type(df.delay, {
    'category' : {
        'columns' : ['city', 'state']
    }
})

,year,month,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,nas_ct,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,flight_date,arr_on_time,city,state
0,2023,12,9E,Endeavor Air Inc.,ABE,"Allentown/Bethlehem/Easton, PA: Lehigh Valley ...",72,5,2,1,1,0,1,0,0,672,61,574,20,0,17,2023-12-01,67,Allentown/Bethlehem/Easton,PA
1,2023,12,9E,Endeavor Air Inc.,AEX,"Alexandria, LA: Alexandria International",62,7,4,0,1,0,2,0,0,348,252,0,33,0,63,2023-12-01,55,Alexandria,LA
2,2023,12,9E,Endeavor Air Inc.,AGS,"Augusta, GA: Augusta Regional at Bush Field",95,10,6,0,1,0,3,0,0,859,536,0,47,0,276,2023-12-01,85,Augusta,GA
3,2023,12,9E,Endeavor Air Inc.,ALB,"Albany, NY: Albany International",23,2,1,0,0,0,1,1,0,75,9,0,0,0,66,2023-12-01,20,Albany,NY
4,2023,12,9E,Endeavor Air Inc.,ATL,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",2111,256,77,9,52,0,118,1,0,21424,8906,732,1487,0,10299,2023-12-01,1854,Atlanta,GA
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
22616,2023,1,ZW,Air Wisconsin Airlines Corp,STL,"St. Louis, MO: St Louis Lambert International",2,1,0,1,0,0,0,0,0,38,0,38,0,0,0,2023-01-01,1,St. Louis,MO
22617,2023,1,ZW,Air Wisconsin Airlines Corp,SYR,"Syracuse, NY: Syracuse Hancock International",31,6,3,0,1,0,2,0,0,1018,739,0,34,0,245,2023-01-01,25,Syracuse,NY
22618,2023,1,ZW,Air Wisconsin Airlines Corp,TUL,"Tulsa, OK: Tulsa International",27,6,2,0,2,0,2,0,0,204,48,0,51,0,105,2023-01-01,21,Tulsa,OK
22619,2023,1,ZW,Air Wisconsin Airlines Corp,TVC,"Traverse City, MI: Cherry Capital",62,17,3,0,5,0,10,4,0,1485,250,0,287,0,948,2023-01-01,41,Traverse City,MI
22620,2023,1,ZW,Air Wisconsin Airlines Corp,TYS,"Knoxville, TN: McGhee Tyson",62,12,6,1,1,0,4,1,1,698,255,99,44,0,300,2023-01-01,48,Knoxville,TN

In [131]:
# columns_with_missing = [
#     'Arriving_Flights', 'Delayed_Over_15Min', 'Carrier_Caused_Delays',
#     'Weather_Caused_Delays', 'NAS_Caused_Delays', 'Security_Caused_Delays',
#     'Late_Aircraft_Caused_Delays', 'Arriving_Flights_Cancelled', 'Arriving_Flights_Diverted',
#     'Total_Arrival_Delay_Minutes', 'Carrier_Delay_Minutes', 'Weather_Delay_Minutes',
#     'NAS_Delay_Minutes', 'Security_Delay_Minutes', 'Late_Aircraft_Delay_Minutes'
# ]


# # Plotting distributions
# fig, axes = plt.subplots(nrows=5, ncols=3, figsize=(15, 20))
# axes = axes.flatten()

# for i, col in enumerate(columns_with_missing):
#     sns.histplot(df.delay[col], kde=True, ax=axes[i])
#     axes[i].set_title(f'Distribution of {col}', fontsize=10)
#     # axes[i].set_xlabel('')
#     # axes[i].set_ylabel('')

# plt.tight_layout()
# plt.show()

Since the empty data is skewed. Filling the data with median

In [132]:
# columns_with_missing = [
#     'Arriving_Flights', 'Delayed_Over_15Min', 'Carrier_Caused_Delays',
#     'Weather_Caused_Delays', 'NAS_Caused_Delays', 'Security_Caused_Delays',
#     'Late_Aircraft_Caused_Delays', 'Arriving_Flights_Cancelled', 'Arriving_Flights_Diverted',
#     'Total_Arrival_Delay_Minutes', 'Carrier_Delay_Minutes', 'Weather_Delay_Minutes',
#     'NAS_Delay_Minutes', 'Security_Delay_Minutes', 'Late_Aircraft_Delay_Minutes'
# ]

# for column in columns_with_missing:
#     median_value = df.delay[column].median()
#     df.delay[column] = df.delay[column].fillna(median_value)

# # Verifying missing values
# print("Missing values after median imputation:")
# print(df.delay[columns_with_missing].isnull().sum())

# Crash Data cleaning

In [ ]:
df.crash['EventDate'] = pd.to_datetime(df.crash['EventDate'])

In [ ]:
df.crash.isna().sum()

NtsbNo                            0
EventType                         0
Mkey                              0
EventDate                         0
City                              0
State                           244
Country                           0
ReportNo                       1649
N#                                1
SerialNumber                    288
HasSafetyRec                      0
Mode                              0
ReportType                     1025
OriginalPublishedDate          1025
DocketOriginalPublishedDate    1022
HighestInjuryLevel              995
FatalInjuryCount                131
SeriousInjuryCount              131
MinorInjuryCount                131
ProbableCause                  1025
Findings                       1025
EventID                        1649
Latitude                        290
Longitude                       290
Make                              0
Model                             0
AirCraftCategory                 34
AirportID                       701
AirportName                     813
AmateurBuilt                      0
NumberOfEngines                 319
EngineType                     1044
Scheduled                      1339
PurposeOfFlight                 453
FAR                              17
AirCraftDamage                  163
WeatherCondition                496
Operator                        984
BroadPhaseofFlight                3
ReportStatus                    431
RepGenFlag                     1649
MostRecentReportType             34
DocketUrl                      1022
ReportUrl                       435
dtype: int64

In [ ]:
df.crash.columns

Index(['NtsbNo', 'EventType', 'Mkey', 'EventDate', 'City', 'State', 'Country',
       'ReportNo', 'N#', 'SerialNumber', 'HasSafetyRec', 'Mode', 'ReportType',
       'OriginalPublishedDate', 'DocketOriginalPublishedDate',
       'HighestInjuryLevel', 'FatalInjuryCount', 'SeriousInjuryCount',
       'MinorInjuryCount', 'ProbableCause', 'Findings', 'EventID', 'Latitude',
       'Longitude ', 'Make', 'Model', 'AirCraftCategory', 'AirportID',
       'AirportName', 'AmateurBuilt', 'NumberOfEngines', 'EngineType',
       'Scheduled', 'PurposeOfFlight', 'FAR', 'AirCraftDamage',
       'WeatherCondition', 'Operator', 'BroadPhaseofFlight', 'ReportStatus',
       'RepGenFlag', 'MostRecentReportType', 'DocketUrl', 'ReportUrl'],
      dtype='object')

In [ ]:
#feature selection: dropping irrelevant columns
df.crash.drop(['NtsbNo', 'Mkey', 'ReportNo', 'N#', 'SerialNumber', 'Mode', 'ReportType', 'DocketOriginalPublishedDate', 'FAR', 'ReportStatus', 'RepGenFlag', 'MostRecentReportType', 'ReportUrl'], axis=1, inplace=True, errors='ignore')

In [ ]:
#formatting date and time
df.crash['EventDate']= pd.to_datetime(df.crash['EventDate'])

In [ ]:
#creating date and time columns
df.crash['Date'] = df.crash['EventDate'].dt.date
df.crash['Time'] = df.crash['EventDate'].dt.time

In [ ]:
df.crash['OriginalPublishedDate'] = pd.to_datetime(df.crash['OriginalPublishedDate'], errors='coerce')  # use errors='coerce' to handle invalid dates

In [ ]:
#Drop duplicates
df.crash.drop_duplicates(inplace=True)

In [ ]:
df.crash['State'].fillna('Unknown', inplace=True)

In [ ]:
#Convert to categorical
df.crash['EventType'] = df.crash['EventType'].astype('category')
df.crash['Country'] = df.crash['Country'].astype('category')
df.crash['State'] = df.crash['State'].astype('category')

In [ ]:
# Standardizing Text Data
# Converting text data to lowercase
df.crash['City'] = df.crash['City'].str.lower()
df.crash['State'] = df.crash['State'].str.lower()
df.crash['Country'] = df.crash['Country'].str.lower()

In [ ]:
df.crash.isna().sum()

EventType                   0
EventDate                   0
City                        0
State                       0
Country                     0
HasSafetyRec                0
OriginalPublishedDate    1025
HighestInjuryLevel        995
FatalInjuryCount          131
SeriousInjuryCount        131
MinorInjuryCount          131
ProbableCause            1025
Findings                 1025
EventID                  1649
Latitude                  290
Longitude                 290
Make                        0
Model                       0
AirCraftCategory           34
AirportID                 701
AirportName               813
AmateurBuilt                0
NumberOfEngines           319
EngineType               1044
Scheduled                1339
PurposeOfFlight           453
AirCraftDamage            163
WeatherCondition          496
Operator                  984
BroadPhaseofFlight          3
DocketUrl                1022
Date                        0
Time                        0
dtype: int64

In [ ]:
df.crash.shape

(1649, 33)

In [ ]:
df.crash.EventID

0      NaN
1      NaN
2      NaN
3      NaN
4      NaN
        ..
1644   NaN
1645   NaN
1646   NaN
1647   NaN
1648   NaN
Name: EventID, Length: 1649, dtype: float64

In [ ]:
df.crash.head()

,EventType,EventDate,City,State,Country,HasSafetyRec,OriginalPublishedDate,HighestInjuryLevel,FatalInjuryCount,SeriousInjuryCount,MinorInjuryCount,ProbableCause,Findings,EventID,Latitude,Longitude,Make,Model,AirCraftCategory,AirportID,AirportName,AmateurBuilt,NumberOfEngines,EngineType,Scheduled,PurposeOfFlight,AirCraftDamage,WeatherCondition,Operator,BroadPhaseofFlight,DocketUrl,Date,Time
0,ACC,2023-12-31 17:40:00+00:00,davenport,iowa,united states,False,NaT,NaN,0.000000,0.000000,0.000000,NaN,NaN,NaN,41.610278,-90.588361,CIRRUS DESIGN CORP,SR22T,AIR,DVN,NaN,false,1,NaN,NaN,PERS,Substantial,VMC,JKC LLC,Approach,NaN,2023-12-31,17:40:00
1,ACC,2023-12-31 16:13:00+00:00,midland,virginia,united states,False,2024-03-21 04:00:00+00:00,NaN,0.000000,0.000000,0.000000,The pilot’s improper recovery from a bounced l...,Personnel issues - Task performance - Use of e...,NaN,38.586285,-77.710631,GOLDEN AVIO S R L,F30 Brio,AIR,HWY,WARRENTON/FAUQUIER,false,1,REC,NaN,PERS,Substantial,VMC,NaN,Landing,https://data.ntsb.gov/Docket?ProjectID=193603,2023-12-31,16:13:00
2,ACC,2023-12-31 14:13:00+00:00,mooresville,north carolina,united states,False,NaT,Fatal,1.000000,0.000000,0.000000,NaN,NaN,NaN,35.624637,-80.912255,PIPER AIRCRAFT INC,PA46R-350T,AIR,14A,LAKE NORMAN AIRPARK,false,1,NaN,NaN,PERS,Substantial,VMC,RTM AVIATION LLC,Unknown,NaN,2023-12-31,14:13:00
3,ACC,2023-12-30 17:00:00+00:00,washington,missouri,united states,False,NaT,Serious,0.000000,1.000000,0.000000,NaN,NaN,NaN,38.587583,-90.993806,BELLANCA,17-30A,AIR,FYG,Washington Regional,false,1,NaN,NSCH,PERS,Substantial,VMC,PIASA LLC,Initial Climb,NaN,2023-12-30,17:00:00
4,ACC,2023-12-30 16:04:00+00:00,daytona beach,florida,united states,False,2024-01-25 05:00:00+00:00,NaN,0.000000,0.000000,0.000000,The UAS operator’s failure to operate within t...,Personnel issues - Action/decision - Info proc...,NaN,29.163165,-81.078240,"ROBINSON HELICOPTER, DJI","R44, MAVIC 2","HELI, UNMANNED",DAB,DAYTONA BEACH INTERNATIONAL,"false, false","1, 4",REC,NaN,"OWRK, OWRK","Substantial, Destroyed",VMC,Tunica Helicopters LLC,Approach,NaN,2023-12-30,16:04:00

In [ ]:
df.crash.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1649 entries, 0 to 1648
Data columns (total 33 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   EventType              1649 non-null   category
 1   EventDate              1649 non-null   datetime64[ns, UTC]
 2   City                   1649 non-null   object
 3   State                  1649 non-null   object
 4   Country                1649 non-null   object
 5   HasSafetyRec           1649 non-null   bool
 6   OriginalPublishedDate  624 non-null    datetime64[ns, UTC]
 7   HighestInjuryLevel     654 non-null    object
 8   FatalInjuryCount       1518 non-null   float64
 9   SeriousInjuryCount     1518 non-null   float64
 10  MinorInjuryCount       1518 non-null   float64
 11  ProbableCause          624 non-null    object
 12  Findings               624 non-null    object
 13  EventID                0 non-null      float64
 14  Latitude               1359 non-null   float64
 15  Longitude              1359 non-null   float64
 16  Make                   1649 non-null   object
 17  Model                  1649 non-null   object
 18  AirCraftCategory       1615 non-null   object
 19  AirportID              948 non-null    object
 20  AirportName            836 non-null    object
 21  AmateurBuilt           1649 non-null   object
 22  NumberOfEngines        1330 non-null   object
 23  EngineType             605 non-null    object
 24  Scheduled              310 non-null    object
 25  PurposeOfFlight        1196 non-null   object
 26  AirCraftDamage         1486 non-null   object
 27  WeatherCondition       1153 non-null   object
 28  Operator               665 non-null    object
 29  BroadPhaseofFlight     1646 non-null   object
 30  DocketUrl              627 non-null    object
 31  Date                   1649 non-null   object
 32  Time                   1649 non-null   object
dtypes: bool(1), category(1), datetime64[ns, UTC](2), float64(6), object(23)
memory usage: 402.8+ KB

## Delay Visualizations

In [ ]:
import plotly.express as px
import matplotlib.pyplot as plt
import seaborn as sns