In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# https://medium.com/@anala007/float-display-in-pandas-no-more-scientific-notation-80e3dd28eabe
pd.options.display.float_format = '{:.6f}'.format
pd.set_option("display.max_columns", 40)
# pd.set_option("display.max_rows", 500)

In [3]:
 def load_csv_files(file_paths: list[str]):
    """
    Loads csv files

    Args:
        file_paths (list[str]): file paths for csv files

    Returns:
        list[pd.DataFrame or None]: Returns list of dataframes or None if file is not found
    """
    try:
        return [pd.read_csv(file) for file in file_paths]
    except Exception as err:
        # handling exceptions like file not found or invalid format of file
        print(err)
        # returning None value for all files
        return [None for _ in file_paths]

In [4]:
df=pd.DataFrame([])
df.delay, df.crash = load_csv_files(['data/Airline_Delay_Cause.csv',
                         'data/cases2024-05-08_14-52.csv'])

C:\Users\devdp\AppData\Local\Temp\ipykernel_39644\501168151.py:2: UserWarning: Pandas doesn't allow columns to be created via a new attribute name - see https://pandas.pydata.org/pandas-docs/stable/indexing.html#attribute-access
  df.delay, df.crash = load_csv_files(['data/Airline_Delay_Cause.csv',

In [5]:
df.delay.head()

,year,month,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,nas_ct,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay
0,2023,12,9E,Endeavor Air Inc.,ABE,"Allentown/Bethlehem/Easton, PA: Lehigh Valley ...",72.000000,5.000000,2.460000,1.000000,0.730000,0.000000,0.810000,0.000000,0.000000,672.000000,61.000000,574.000000,20.000000,0.000000,17.000000
1,2023,12,9E,Endeavor Air Inc.,AEX,"Alexandria, LA: Alexandria International",62.000000,7.000000,4.250000,0.000000,1.000000,0.000000,1.750000,0.000000,0.000000,348.000000,252.000000,0.000000,33.000000,0.000000,63.000000
2,2023,12,9E,Endeavor Air Inc.,AGS,"Augusta, GA: Augusta Regional at Bush Field",95.000000,10.000000,5.940000,0.000000,1.060000,0.000000,3.000000,0.000000,0.000000,859.000000,536.000000,0.000000,47.000000,0.000000,276.000000
3,2023,12,9E,Endeavor Air Inc.,ALB,"Albany, NY: Albany International",23.000000,2.000000,0.560000,0.000000,0.000000,0.000000,1.440000,1.000000,0.000000,75.000000,9.000000,0.000000,0.000000,0.000000,66.000000
4,2023,12,9E,Endeavor Air Inc.,ATL,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",2111.000000,256.000000,76.880000,8.750000,52.430000,0.000000,117.940000,1.000000,0.000000,21424.000000,8906.000000,732.000000,1487.000000,0.000000,10299.000000

In [6]:
df.crash.head()

,NtsbNo,EventType,Mkey,EventDate,City,State,Country,ReportNo,N#,SerialNumber,HasSafetyRec,Mode,ReportType,OriginalPublishedDate,DocketOriginalPublishedDate,HighestInjuryLevel,FatalInjuryCount,SeriousInjuryCount,MinorInjuryCount,ProbableCause,...,Make,Model,AirCraftCategory,AirportID,AirportName,AmateurBuilt,NumberOfEngines,EngineType,Scheduled,PurposeOfFlight,FAR,AirCraftDamage,WeatherCondition,Operator,BroadPhaseofFlight,ReportStatus,RepGenFlag,MostRecentReportType,DocketUrl,ReportUrl
0,CEN24LA079,ACC,193595,2023-12-31T17:40:00Z,Davenport,Iowa,United States,NaN,N773GB,0702,False,Aviation,NaN,NaN,NaN,NaN,0.000000,0.000000,0.000000,NaN,...,CIRRUS DESIGN CORP,SR22T,AIR,DVN,NaN,false,1,NaN,NaN,PERS,091,Substantial,VMC,JKC LLC,Approach,In work,NaN,Prelim,NaN,https://data.ntsb.gov/carol-repgen/api/Aviatio...
1,ERA24LA084,ACC,193603,2023-12-31T16:13:00Z,Midland,Virginia,United States,NaN,N37GA,004CE,False,Aviation,DirectorBrief,2024-03-21T04:00:00Z,2024-03-21T17:00:00Z,NaN,0.000000,0.000000,0.000000,The pilot’s improper recovery from a bounced l...,...,GOLDEN AVIO S R L,F30 Brio,AIR,HWY,WARRENTON/FAUQUIER,false,1,REC,NaN,PERS,091,Substantial,VMC,NaN,Landing,Completed,NaN,Final,https://data.ntsb.gov/Docket?ProjectID=193603,https://data.ntsb.gov/carol-repgen/api/Aviatio...
2,ERA24FA078,ACC,193581,2023-12-31T14:13:00Z,Mooresville,North Carolina,United States,NaN,N539MA,4692139,False,Aviation,NaN,NaN,NaN,Fatal,1.000000,0.000000,0.000000,NaN,...,PIPER AIRCRAFT INC,PA46R-350T,AIR,14A,LAKE NORMAN AIRPARK,false,1,NaN,NaN,PERS,091,Substantial,VMC,RTM AVIATION LLC,Unknown,In work,NaN,Prelim,NaN,https://data.ntsb.gov/carol-repgen/api/Aviatio...
3,CEN24LA077,ACC,193585,2023-12-30T17:00:00Z,Washington,Missouri,United States,NaN,N678MJ,79-30941,False,Aviation,NaN,NaN,NaN,Serious,0.000000,1.000000,0.000000,NaN,...,BELLANCA,17-30A,AIR,FYG,Washington Regional,false,1,NaN,NSCH,PERS,091,Substantial,VMC,PIASA LLC,Initial Climb,In work,NaN,Prelim,NaN,https://data.ntsb.gov/carol-repgen/api/Aviatio...
4,ERA24LA079,ACC,193587,2023-12-30T16:04:00Z,Daytona Beach,Florida,United States,NaN,"N828AK, FA3XNWMRAN","1689, 163DF81001N020",False,Aviation,DirectorBrief,2024-01-25T05:00:00Z,NaN,NaN,0.000000,0.000000,0.000000,The UAS operator’s failure to operate within t...,...,"ROBINSON HELICOPTER, DJI","R44, MAVIC 2","HELI, UNMANNED",DAB,DAYTONA BEACH INTERNATIONAL,"false, false","1, 4",REC,NaN,"OWRK, OWRK","091, 107","Substantial, Destroyed",VMC,Tunica Helicopters LLC,Approach,Completed,NaN,Final,NaN,https://data.ntsb.gov/carol-repgen/api/Aviatio...

# Data Cleanup

## Airline delay Data cleaning

In [7]:
df.delay.drop_duplicates(keep=False, inplace=True)

Let's check for null values

Creating a function that prints null value counts and proportion for only columns that are having null values

In [8]:
def check_null_values(df: pd.DataFrame):
    """
    Checks null values for each columns in dataframe

    Args:
        df (pd.DataFrame): Source dataframe
    """
    null_value_counts = (df.isnull().sum()).sort_values(ascending=False)
    # Removing columns that are not having null values
    null_value_counts = null_value_counts[null_value_counts != 0]
    null_value_percentages = (null_value_counts/df.shape[0]) * 100
    print("Null values for columns:\n", null_value_counts)
    print("\nNull value percentages for columns:\n", null_value_percentages)

In [9]:
# df.delay.isna().sum()
check_null_values(df.delay)

Null values for columns:
 arr_del15              52
nas_ct                 47
security_ct            47
security_delay         47
nas_delay              47
weather_delay          47
carrier_delay          47
arr_delay              47
arr_diverted           47
arr_cancelled          47
late_aircraft_ct       47
late_aircraft_delay    47
weather_ct             47
carrier_ct             47
arr_flights            47
dtype: int64

Null value percentages for columns:
 arr_del15             0.229875
nas_ct                0.207772
security_ct           0.207772
security_delay        0.207772
nas_delay             0.207772
weather_delay         0.207772
carrier_delay         0.207772
arr_delay             0.207772
arr_diverted          0.207772
arr_cancelled         0.207772
late_aircraft_ct      0.207772
late_aircraft_delay   0.207772
weather_ct            0.207772
carrier_ct            0.207772
arr_flights           0.207772
dtype: float64

Since only 0.2% values are null we can drop rows containing null values

In [10]:
df.delay.dropna(inplace=True)

In [11]:
df.delay.info()

<class 'pandas.core.frame.DataFrame'>
Index: 22569 entries, 0 to 22620
Data columns (total 21 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   year                 22569 non-null  int64
 1   month                22569 non-null  int64
 2   carrier              22569 non-null  object
 3   carrier_name         22569 non-null  object
 4   airport              22569 non-null  object
 5   airport_name         22569 non-null  object
 6   arr_flights          22569 non-null  float64
 7   arr_del15            22569 non-null  float64
 8   carrier_ct           22569 non-null  float64
 9   weather_ct           22569 non-null  float64
 10  nas_ct               22569 non-null  float64
 11  security_ct          22569 non-null  float64
 12  late_aircraft_ct     22569 non-null  float64
 13  arr_cancelled        22569 non-null  float64
 14  arr_diverted         22569 non-null  float64
 15  arr_delay            22569 non-null  float64
 16  carrier_delay        22569 non-null  float64
 17  weather_delay        22569 non-null  float64
 18  nas_delay            22569 non-null  float64
 19  security_delay       22569 non-null  float64
 20  late_aircraft_delay  22569 non-null  float64
dtypes: float64(15), int64(2), object(4)
memory usage: 3.8+ MB

In [12]:
def change_column_type(df:pd.DataFrame, columns : dict):
  try:
    for ctype, data in columns.items():
      for column in data['columns']:
        try:
            middleware = data.get('middleware', None)
            df[column] = (middleware(df[column]) if middleware is not None else df[column]).astype(ctype)
        except Exception as E:
          print(f"[Error] change_column_type : Error converting column \"{column}\" to {ctype}.\n")
  except Exception as E:
    print(f"[Error] change_column_type : Error converting columns.\n")
  return df

In [13]:
def round_float_col(df : pd.DataFrame):
  return df.round()

In [14]:
df.delay = change_column_type(df.delay,{
    "category" : {
        'columns' : ['carrier', 'carrier_name', 'airport', 'airport_name']
    },
    "int" : {
        'columns' : ['arr_flights','carrier_ct', 'weather_ct','nas_ct', 'security_ct', 'late_aircraft_ct', 'arr_del15', 'arr_cancelled', 'arr_diverted', 'arr_delay', 'carrier_delay', 'weather_delay', 'nas_delay', 'security_delay', 'late_aircraft_delay'],
        'middleware' : round_float_col
    }
    })

In [15]:
df.delay['flight_date'] = pd.to_datetime(df.delay["month"].astype(str) + "-" + df.delay["year"].astype(str))

C:\Users\devdp\AppData\Local\Temp\ipykernel_39644\578555265.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df.delay['flight_date'] = pd.to_datetime(df.delay["month"].astype(str) + "-" + df.delay["year"].astype(str))

In [16]:
df.delay['arr_on_time'] = df.delay['arr_flights'] - df.delay['arr_del15'] - df.delay['arr_cancelled'] - df.delay['arr_diverted']

In [17]:
df.delay.head()

,year,month,carrier,carrier_name,airport,airport_name,arr_flights,arr_del15,carrier_ct,weather_ct,nas_ct,security_ct,late_aircraft_ct,arr_cancelled,arr_diverted,arr_delay,carrier_delay,weather_delay,nas_delay,security_delay,late_aircraft_delay,flight_date,arr_on_time
0,2023,12,9E,Endeavor Air Inc.,ABE,"Allentown/Bethlehem/Easton, PA: Lehigh Valley ...",72,5,2,1,1,0,1,0,0,672,61,574,20,0,17,2023-12-01,67
1,2023,12,9E,Endeavor Air Inc.,AEX,"Alexandria, LA: Alexandria International",62,7,4,0,1,0,2,0,0,348,252,0,33,0,63,2023-12-01,55
2,2023,12,9E,Endeavor Air Inc.,AGS,"Augusta, GA: Augusta Regional at Bush Field",95,10,6,0,1,0,3,0,0,859,536,0,47,0,276,2023-12-01,85
3,2023,12,9E,Endeavor Air Inc.,ALB,"Albany, NY: Albany International",23,2,1,0,0,0,1,1,0,75,9,0,0,0,66,2023-12-01,20
4,2023,12,9E,Endeavor Air Inc.,ATL,"Atlanta, GA: Hartsfield-Jackson Atlanta Intern...",2111,256,77,9,52,0,118,1,0,21424,8906,732,1487,0,10299,2023-12-01,1854

# Crash Data cleaning

In [ ]:
df.crash['EventDate'] = pd.to_datetime(df.crash['EventDate'])

In [ ]:
df.crash.isna().sum()

In [ ]:
df.crash.columns

In [ ]:
#feature selection: dropping irrelevant columns
df.crash.drop(['NtsbNo', 'Mkey', 'ReportNo', 'N#', 'SerialNumber', 'Mode', 'ReportType', 'DocketOriginalPublishedDate', 'FAR', 'ReportStatus', 'RepGenFlag', 'MostRecentReportType', 'ReportUrl'], axis=1, inplace=True, errors='ignore')

In [ ]:
#formatting date and time
df.crash['EventDate']= pd.to_datetime(df.crash['EventDate'])

In [ ]:
#creating date and time columns
df.crash['Date'] = df.crash['EventDate'].dt.date
df.crash['Time'] = df.crash['EventDate'].dt.time

In [ ]:
df.crash['OriginalPublishedDate'] = pd.to_datetime(df.crash['OriginalPublishedDate'], errors='coerce')  # use errors='coerce' to handle invalid dates

In [ ]:
#Drop duplicates
df.crash.drop_duplicates(inplace=True)

In [ ]:
df.crash['State'].fillna('Unknown', inplace=True)

In [ ]:
#Convert to categorical
df.crash['EventType'] = df.crash['EventType'].astype('category')
df.crash['Country'] = df.crash['Country'].astype('category')
df.crash['State'] = df.crash['State'].astype('category')

In [ ]:
# Standardizing Text Data
# Converting text data to lowercase
df.crash['City'] = df.crash['City'].str.lower()
df.crash['State'] = df.crash['State'].str.lower()
df.crash['Country'] = df.crash['Country'].str.lower()

In [ ]:
df.crash.isna().sum()

In [ ]:
df.crash.shape

In [ ]:
df.crash.EventID

In [ ]:
df.crash.head()

In [ ]:
df.crash.info()

## Delay Visualizations

In [ ]:
import plotly.express as px
import matplotlib.pyplot as plt
import seaborn as sns