# WEEK-5 openpyxl

In [1]:
!pip install openpyxl

Requirement already satisfied: openpyxl in c:\users\devdp\anaconda3\lib\site-packages (3.0.10)
Requirement already satisfied: et_xmlfile in c:\users\devdp\anaconda3\lib\site-packages (from openpyxl) (1.1.0)

In [2]:
import openpyxl
import pandas as pd

In [3]:
wb = openpyxl.load_workbook('week_05_homework_XLSX_openpyxl.xlsx')
# wb.save("my_sheet.xlsx")

In [4]:
wb.sheetnames

['patient info', 'records']

In [5]:
pi_sheet = wb['patient info']

In [6]:
records_sheet = wb['records']

In [7]:
from itertools import islice
def convert_to_df(ws):
    data = ws.values
    cols = next(data)
    data = list(data)
    df = pd.DataFrame(data, columns=cols)
    return df

In [8]:
pi_df = convert_to_df(pi_sheet)
records_df = convert_to_df(records_sheet)

In [9]:
pi_df = pi_df.rename(columns={"patient id":"p_id"})

In [10]:
merged_df = pi_df.merge(records_df, how="outer", on="p_id")
merged_df

,p_id,age,smoking,smart,asdf,min im,nam,kf,ave,mginasdf,...,aifaignaghgjaga,miadgfadnaa,agaogsf,avavag,agavcagaad,mdifa asdfi asf,sfaisf g adfa,mg adfa gasf a,fads adsfas,dfmga
0,28859,25.0,1.0,109.0,25.0,40.00,cvwrup,33.0,9.0,tcjlli,...,49.0,0.135142,0.586404,pjqejz,0.457594,0.521399,0.068811,0.398157,0.901873,40.0
1,32820,48.0,1.0,112.0,29.0,47.50,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,32897,46.0,0.0,124.0,25.0,48.75,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,54826,49.0,1.0,76.0,38.0,41.00,eqlxge,78.0,9.0,jbsqtq,...,102.0,0.271600,0.421783,tgscew,0.552107,0.566958,0.900290,0.877520,0.318774,204.0
4,57378,57.0,1.0,137.0,36.0,57.75,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1568,70470,NaN,NaN,NaN,NaN,NaN,ossazr,48.0,10.0,jsause,...,158.0,0.603470,0.994786,cmcezh,0.132424,0.861415,0.250647,0.320295,0.086869,181.0
1569,40755,NaN,NaN,NaN,NaN,NaN,ahfmcw,83.0,9.0,tvkdyw,...,8.0,0.366993,0.710501,fftwet,0.923233,0.765938,0.873328,0.072611,0.640840,201.0
1570,94499,NaN,NaN,NaN,NaN,NaN,eqnrnz,38.0,10.0,hczhrq,...,28.0,0.548410,0.273850,lxqrbk,0.974286,0.468065,0.015000,0.870349,0.333799,199.0
1571,11338,NaN,NaN,NaN,NaN,NaN,maripf,92.0,10.0,mwfthr,...,65.0,0.444706,0.598433,dafcvx,0.317029,0.479107,0.785905,0.858837,0.044693,219.0
1572,72787,NaN,NaN,NaN,NaN,NaN,npscwt,76.0,11.0,lmdmmm,...,161.0,0.898994,0.441909,jqcysj,0.142884,0.175055,0.860159,0.543864,0.018342,183.0

In [13]:
from openpyxl.utils.dataframe import dataframe_to_rows
# pi_sheet.delete_rows(1, pi_sheet.max_row)
merged_df=merged_df.rename(columns={"p_id" : "patient id"})
for row in dataframe_to_rows(merged_df, index=False, header=True) :
    pi_sheet.append(row)
wb.save("my_sheet.xlsx")