# Exploratory data analysis of Los Angeles Police Department crime data

## Importing libraries

In [1]:
import pandas as pd
import plotly.express as px

#### Configuring pandas options

In [2]:
pd.options.display.float_format = '{:.6f}'.format #https://medium.com/@anala007/float-display-in-pandas-no-more-scientific-notation-80e3dd28eabe
pd.set_option("display.max_columns", 30)
pd.set_option("display.max_rows", 500)

#### Loading Csv files

In [3]:
df1 = pd.read_csv('Crime_Data_from_2010_to_2019_20240229.csv')
df2 = pd.read_csv('Crime_Data_from_2020_to_Present_20240229.csv')

### Merging both datasets

In [4]:
df1.shape

(2122525, 28)

In [5]:
df2.shape

(901357, 28)

In [6]:
df = pd.concat([df1, df2])
df.shape

(3023882, 29)

#### Now checking columns in both datasets

In [7]:
df.columns

Index(['DR_NO', 'Date Rptd', 'DATE OCC', 'TIME OCC', 'AREA ', 'AREA NAME',
       'Rpt Dist No', 'Part 1-2', 'Crm Cd', 'Crm Cd Desc', 'Mocodes',
       'Vict Age', 'Vict Sex', 'Vict Descent', 'Premis Cd', 'Premis Desc',
       'Weapon Used Cd', 'Weapon Desc', 'Status', 'Status Desc', 'Crm Cd 1',
       'Crm Cd 2', 'Crm Cd 3', 'Crm Cd 4', 'LOCATION', 'Cross Street', 'LAT',
       'LON', 'AREA'],
      dtype='object')

In [8]:
df1.columns

Index(['DR_NO', 'Date Rptd', 'DATE OCC', 'TIME OCC', 'AREA ', 'AREA NAME',
       'Rpt Dist No', 'Part 1-2', 'Crm Cd', 'Crm Cd Desc', 'Mocodes',
       'Vict Age', 'Vict Sex', 'Vict Descent', 'Premis Cd', 'Premis Desc',
       'Weapon Used Cd', 'Weapon Desc', 'Status', 'Status Desc', 'Crm Cd 1',
       'Crm Cd 2', 'Crm Cd 3', 'Crm Cd 4', 'LOCATION', 'Cross Street', 'LAT',
       'LON'],
      dtype='object')

#### Renaming `AREA ` to `AREA`

In [9]:
df1.rename(columns={ "AREA " :"AREA"}, inplace=True)
df1.columns

Index(['DR_NO', 'Date Rptd', 'DATE OCC', 'TIME OCC', 'AREA', 'AREA NAME',
       'Rpt Dist No', 'Part 1-2', 'Crm Cd', 'Crm Cd Desc', 'Mocodes',
       'Vict Age', 'Vict Sex', 'Vict Descent', 'Premis Cd', 'Premis Desc',
       'Weapon Used Cd', 'Weapon Desc', 'Status', 'Status Desc', 'Crm Cd 1',
       'Crm Cd 2', 'Crm Cd 3', 'Crm Cd 4', 'LOCATION', 'Cross Street', 'LAT',
       'LON'],
      dtype='object')

#### Concating both datasets

In [10]:
df = pd.concat([df1, df2])
df.shape

(3023882, 28)

In [11]:
df.head()

,DR_NO,Date Rptd,DATE OCC,TIME OCC,AREA,AREA NAME,Rpt Dist No,Part 1-2,Crm Cd,Crm Cd Desc,Mocodes,Vict Age,Vict Sex,Vict Descent,Premis Cd,Premis Desc,Weapon Used Cd,Weapon Desc,Status,Status Desc,Crm Cd 1,Crm Cd 2,Crm Cd 3,Crm Cd 4,LOCATION,Cross Street,LAT,LON
0,1307355,02/20/2010 12:00:00 AM,02/20/2010 12:00:00 AM,1350,13,Newton,1385,2,900,VIOLATION OF COURT ORDER,0913 1814 2000,48,M,H,501.000000,SINGLE FAMILY DWELLING,NaN,NaN,AA,Adult Arrest,900.000000,NaN,NaN,NaN,300 E GAGE AV,NaN,33.982500,-118.269500
1,11401303,09/13/2010 12:00:00 AM,09/12/2010 12:00:00 AM,45,14,Pacific,1485,2,740,"VANDALISM - FELONY ($400 & OVER, ALL CHURCH VA...",0329,0,M,W,101.000000,STREET,NaN,NaN,IC,Invest Cont,740.000000,NaN,NaN,NaN,SEPULVEDA BL,MANCHESTER AV,33.959900,-118.396200
2,70309629,08/09/2010 12:00:00 AM,08/09/2010 12:00:00 AM,1515,13,Newton,1324,2,946,OTHER MISCELLANEOUS CRIME,0344,0,M,H,103.000000,ALLEY,NaN,NaN,IC,Invest Cont,946.000000,NaN,NaN,NaN,1300 E 21ST ST,NaN,34.022400,-118.252400
3,90631215,01/05/2010 12:00:00 AM,01/05/2010 12:00:00 AM,150,6,Hollywood,646,2,900,VIOLATION OF COURT ORDER,1100 0400 1402,47,F,W,101.000000,STREET,102.000000,HAND GUN,IC,Invest Cont,900.000000,998.000000,NaN,NaN,CAHUENGA BL,HOLLYWOOD BL,34.101600,-118.329500
4,100100501,01/03/2010 12:00:00 AM,01/02/2010 12:00:00 AM,2100,1,Central,176,1,122,"RAPE, ATTEMPTED",0400,47,F,H,103.000000,ALLEY,400.000000,"STRONG-ARM (HANDS, FIST, FEET OR BODILY FORCE)",IC,Invest Cont,122.000000,NaN,NaN,NaN,8TH ST,SAN PEDRO ST,34.038700,-118.248800

#### Dropping duplicate rows

In [12]:
df.drop_duplicates(keep=False,inplace=True)

### Finding rows containing null values

In [13]:
df.isnull().sum()

DR_NO                   0
Date Rptd               0
DATE OCC                0
TIME OCC                0
AREA                    0
AREA NAME               0
Rpt Dist No             0
Part 1-2                0
Crm Cd                  0
Crm Cd Desc             0
Mocodes            354006
Vict Age                0
Vict Sex           316205
Vict Descent       316259
Premis Cd              63
Premis Desc           737
Weapon Used Cd    1998040
Weapon Desc       1998041
Status                  3
Status Desc             0
Crm Cd 1               21
Crm Cd 2          2816938
Crm Cd 3          3018109
Crm Cd 4          3023713
LOCATION                0
Cross Street      2526101
LAT                     0
LON                     0
dtype: int64

Converting values to percentage values.

In [14]:
(df.isnull().sum()).sort_values(ascending=False)/df.shape[0] * 100

Crm Cd 4         99.994411
Crm Cd 3         99.809086
Crm Cd 2         93.156347
Cross Street     83.538346
Weapon Desc      66.075363
Weapon Used Cd   66.075330
Mocodes          11.707004
Vict Descent     10.458708
Vict Sex         10.456923
Premis Desc       0.024373
Premis Cd         0.002083
Crm Cd 1          0.000694
Status            0.000099
LAT               0.000000
LOCATION          0.000000
Status Desc       0.000000
DR_NO             0.000000
Date Rptd         0.000000
Vict Age          0.000000
Crm Cd Desc       0.000000
Crm Cd            0.000000
Part 1-2          0.000000
Rpt Dist No       0.000000
AREA NAME         0.000000
AREA              0.000000
TIME OCC          0.000000
DATE OCC          0.000000
LON               0.000000
dtype: float64

#### Dropping rows that are having null values in one of these columns : `Mocodes`, `Status`, `Crm Cd 1`, `Premis Cd`

In [15]:
df.dropna(subset=['Premis Cd', 'Mocodes', 'Status', 'Crm Cd 1', 'Premis Cd'], inplace=True)

Let's check null values again

In [16]:
(df.isnull().sum()).sort_values(ascending=False)/df.shape[0] * 100

Crm Cd 4         99.993670
Crm Cd 3         99.784108
Crm Cd 2         92.289008
Cross Street     84.026112
Weapon Desc      61.861467
Weapon Used Cd   61.861430
Vict Descent      0.027455
Vict Sex          0.025769
Premis Desc       0.025132
DR_NO             0.000000
LAT               0.000000
LOCATION          0.000000
Crm Cd 1          0.000000
Status Desc       0.000000
Status            0.000000
Premis Cd         0.000000
Date Rptd         0.000000
Vict Age          0.000000
Mocodes           0.000000
Crm Cd Desc       0.000000
Crm Cd            0.000000
Part 1-2          0.000000
Rpt Dist No       0.000000
AREA NAME         0.000000
AREA              0.000000
TIME OCC          0.000000
DATE OCC          0.000000
LON               0.000000
dtype: float64

### Now filling null values for remaining columns

In [ ]:
values = { 
    "Crm Cd 4" : "N/A",
    "Crm Cd 3" : "N/A",
    "Crm Cd 2" : "N/A",
    "Cross Street" : "N/A",
    "Weapon Desc" : "UNKNOWN",
    "Weapon Used Cd" : 0,
    "Premis Desc" : "N/A",
    "Vict Descent":"X",
    "Vict Sex" : "X"
}
df.fillna(value=values, inplace=True)
(df.isnull().sum()).sort_values(ascending=False)/df.shape[0] * 100

Let's check unique values of victim's gender

In [ ]:
df["Vict Sex"].unique()

It's better to replace `-` with `X`

In [ ]:
df['Vict Sex'].replace(['-'], "X", inplace=True)
df["Vict Sex"].unique()

Let's check vicitim descent

In [ ]:
df['Vict Descent'].unique()

Replacing `-` with word `Unknwon`

In [ ]:
df['Vict Descent'].replace('-','Unknown', inplace=True)
df['Vict Descent'].unique()

Now converting codes to meaningful names

In [ ]:
def populate_vict_desc(df):
    mapping={ 
        "A": "Other Asian",
        "B" : "Black",
        "C":"Chinese",
        "D" : "Cambodian",
        "F" : "Filipino",
        "G" : "Guamanian",
        "H" : "Hispanic/Latin/Mexican",
        "I" : "American Indian/Alaskan Native",
        "J" : "Japanese",
        "K" : "Korean",
        "L" : "Laotian",
        "O" : "Other",
        "P" : "Pacific Islander",
        "S" : "Samoan",
        "U" : "Hawaiian",
        "V" : "Vietnamese",
        "W" : "White",
        "X" : "Unknown",
        "Z" : "Asian Indian"
    }
    for i in mapping:
        df.loc[df["Vict Descent"]==i, "Vict Descent"]=mapping[i]
    return df
populate_vict_desc(df).head()

Now dropping columns that are not required for EDA.

In [ ]:
df.drop(columns=['DR_NO','Part 1-2', 'Mocodes','Status', 'Crm Cd 1','Crm Cd 2','Crm Cd 3', 'Crm Cd 4', 'Cross Street'],inplace=True)

Generating new columns that can be useful for future EDA

In [ ]:
df["DATETIME OCC"] = pd.to_datetime(df["DATE OCC"], format="%m/%d/%Y %I:%M:%S %p")
df["DATETIME Rptd"] = pd.to_datetime(df["Date Rptd"], format="%m/%d/%Y %I:%M:%S %p")
df["DAY OCC"] = df["DATETIME OCC"].dt.day_name()
df["MONTH OCC"] = df["DATETIME OCC"].dt.month_name()
df["YEAR OCC"] = df["DATETIME OCC"].dt.year
df['TIME OCC'] = df['TIME OCC'].astype(str).str.zfill(4)
df['HOUR OCC'] = df['TIME OCC'].apply(lambda t: int(t[:2]))
df.head()

Taking a copy of df

In [ ]:
df_copy = df # Taking copy of clean dataframe

Let's check dataframe's information

In [ ]:
df.info()

Let's check data statistics

In [ ]:
df.describe()

Dropping values with negative age values

In [ ]:
df.drop(df[df["Vict Age"] < 0].index, inplace=True)

In [ ]:
df.describe()

### Victim information analysis

Let's analyze cases by victim's gender, age and descent.

In [ ]:
victims_by_gender = df.groupby(["Vict Sex"]).size().reset_index(name="Incidents")
fig=px.pie(victims_by_gender, values='Incidents', names="Vict Sex", title="Incidents by victims gender")
fig.update_traces(textinfo='percent+label')
fig.show()

Now let's visulize victims's age and gender

In [ ]:
age_group_data = df.copy()
age_group_data=age_group_data.groupby(['Vict Age', 'Vict Sex']).size().reset_index(name='Incidents')
age_color_scheme = {"X" : "black", "M" : "blue", "F" : "pink", "H" : "red", "N" : "green"}
px.histogram(age_group_data, x="Vict Age", y="Incidents", color="Vict Sex", text_auto=True, color_discrete_map=age_color_scheme)

Let's visualize victim's descent

In [ ]:
fig1=px.histogram(df, x='Vict Descent')
fig1.update_layout(yaxis_title="Incidents")
fig1.update_traces( hovertemplate=None)
fig1.add_pie()
vict_descent_data=df.groupby(['Vict Descent']).size().sort_values(ascending=False).reset_index(name="Incidents")
fig2 = px.pie(vict_descent_data, values="Incidents", names="Vict Descent", title="Victim Descent By %")
fig1.show()
fig2.show()

Now let's check victim descent wise age.

In [ ]:
for i in df['Vict Descent'].unique():
    victim_data = df[df['Vict Descent']==i].groupby(["Vict Age", "Vict Sex"]).size().reset_index(name="Incidents")
    victim_data['Incidents Percentage']=(victim_data['Incidents'] / victim_data['Incidents'].sum()) * 100
    fig = px.histogram(victim_data, x="Vict Age", y="Incidents Percentage", color="Vict Sex", barmode="group", title=i, color_discrete_map=age_color_scheme, hover_data=["Incidents"])
    fig.show()

### Crime Area Information

Visulizing crime areas with vict descent.

In [ ]:
px.histogram(df, x="AREA NAME", color="Vict Descent",text_auto=True).update_xaxes(categoryorder="total descending") #https://community.plotly.com/t/plotly-express-histogram-any-way-to-sort-bar-by-value/23905/4

From above graph we can observere that most crimes occurred in `77th street` and `Hollenbeck` had lowest crime rates.

Also `Hispanic/Latin/Mexican`, `White` and `Black` people got affected most by crimes in almost all areas.

#### Now visualizing areas by victims gender

In [ ]:
px.histogram(df, x="AREA NAME", color="Vict Sex", color_discrete_map=age_color_scheme, text_auto=True).update_xaxes(categoryorder="total descending") #https://community.plotly.com/t/plotly-express-histogram-any-way-to-sort-bar-by-value/23905/4

From above data we can observe that in most areas majority of victims are male, only for `77th street`, `Southwest` and `Southeast`number female victims are greater than males.

#### Now let's take a look at premis information

In [ ]:
premis_wise_crimes = df.groupby(["Premis Desc"]).size().reset_index(name="Cases")
fig=px.pie(premis_wise_crimes, values="Cases", names="Premis Desc")
fig.update_traces(textposition='inside', textinfo='percent+label')
fig.show()

#### Visualizing premis information area wise

In [ ]:
area_wise_data = df.groupby(['AREA NAME', 'Premis Desc']).size().reset_index(name="Cases")
for area in area_wise_data["AREA NAME"].unique():
    fig = px.bar(area_wise_data[area_wise_data["AREA NAME"] == area], x="Premis Desc", y="Cases", text_auto=True).update_xaxes(title="Type of Crimes",categoryorder="total descending", range=(0,10)).update_yaxes(title="Cases")
    fig.update_layout(title="Crimes in " + area)
    fig.show()
# px.histogram(area_wise_data, x="AREA NAME", color="Premis Desc", text_auto=True).update_xaxes(categoryorder="total descending") #https://community.plotly.com/t/plotly-express-histogram-any-way-to-sort-bar-by-value/23905/4

### Visualizing type of crime

In [ ]:
cases_by_type = df.groupby(["Crm Cd Desc", "Vict Sex", "Vict Descent", "AREA NAME"]).size().reset_index(name="Cases")
fig=px.pie(cases_by_type, values="Cases", names="Crm Cd Desc", height=800)
fig.update_traces(textposition='inside', textinfo='percent+label+value')

In [ ]:
for area in df["AREA NAME"].unique():
    fig = px.histogram(df[df["AREA NAME"]==area], x="Crm Cd Desc", title="Crimes in %s"%area, text_auto=True).update_xaxes(title="Crimes",categoryorder="total descending", range=(0,10)).update_yaxes(title="Cases")
    fig.show()

Let's check crimes based on premis and crime type

In [ ]:
premis_wise_crimes = df.groupby(["Premis Desc", "Crm Cd Desc"]).size().reset_index(name="Cases")
premis_wise_crimes = premis_wise_crimes[premis_wise_crimes["Cases"] > 10000] # Taking only rows which crime incidents are greater than 10000
# px.histogram(df, X="Premise Desc")
premis_wise_crimes_pivot = premis_wise_crimes.pivot(index="Premis Desc", columns="Crm Cd Desc", values="Cases")
premis_wise_crimes_pivot.head()

Replacing null values with 0

In [ ]:
premis_wise_crimes_pivot.fillna(value=0, inplace=True)
premis_wise_crimes_pivot.head()

Plotting heatmap to visualize the data

In [ ]:
fig = px.imshow(premis_wise_crimes_pivot,
                labels=dict(x="Type of crime", y="Premis description", color="Number of Crimes"),
                x=premis_wise_crimes_pivot.columns,
                y=premis_wise_crimes_pivot.index
                )

fig.update_xaxes(side="top")
fig.update_layout(title="Premise wise Crime Types",
                  yaxis=dict(title="Type of crime"),
                  xaxis=dict(title="Premis description"),
                  height=800)
fig.show()

In [ ]:

crime_by_area_and_day = df.groupby(['DAY OCC', "AREA NAME"]).size().reset_index(name="Cases")
crime_pivot = crime_by_area_and_day.pivot(index='AREA NAME', columns='DAY OCC', values='Cases')

fig = px.imshow(crime_pivot,
                labels=dict(x="Hour of the Day", y="Day of the Week", color="Number of Crimes"),
                x=crime_pivot.columns,
                y=crime_pivot.index,
                color_continuous_scale="viridis")

fig.update_xaxes(side="top")
fig.update_layout(title="Crime Occurrences by Day and Time",
                  xaxis=dict(title="Hour of the Day"),
                  yaxis=dict(title="Day of the Week"),
                  height=800)

#### Let's check time of crimes

In [ ]:
year_wise_crime = df["YEAR OCC"].value_counts().reset_index(name="Cases").sort_values("YEAR OCC")
px.line(year_wise_crime, x="YEAR OCC", y="Cases",  markers=True)

In [ ]:
year_wise_crime = df.groupby(["YEAR OCC", "AREA NAME"]).size().reset_index(name="Cases").sort_values("YEAR OCC")
px.line(year_wise_crime, x="YEAR OCC", y="Cases",  markers=True, color="AREA NAME")

##### Now check which days had more crime incidents

In [ ]:
def sort_by_dayname(df, col="DAY OCC") : 
    day_name_to_number = {
    'Monday': 0,
    'Tuesday': 1,
    'Wednesday': 2,
    'Thursday': 3,
    'Friday': 4,
    'Saturday': 5,
    'Sunday': 6
}
    df[col + "NUMBER"] = df[col].apply(lambda x : day_name_to_number[x])
    df.sort_values(by=col+"NUMBER", inplace=True)
    df.drop(columns=[col+'NUMBER'], inplace=True)
    return df

In [ ]:

crime_by_day = df.groupby(['DAY OCC']).size().reset_index(name="Cases")
px.line(sort_by_dayname(crime_by_day), x="DAY OCC", y="Cases", markers=True)

In [ ]:
crime_by_day = df.groupby(['DAY OCC', "HOUR OCC"]).size().reset_index(name="Cases")
# Pivot the DataFrame for visualization
crime_pivot = crime_by_day.pivot(index='DAY OCC', columns='HOUR OCC', values='Cases')

# Create heatmap using Plotly
fig = px.imshow(crime_pivot,
                labels=dict(x="Hour of the Day", y="Day of the Week", color="Number of Crimes"),
                x=crime_pivot.columns,
                y=crime_pivot.index,
                color_continuous_scale="viridis")

# Customize layout
fig.update_layout(title="Crime Occurrences by Day and Time",
                  xaxis=dict(title="Hour of the Day"),
                  yaxis=dict(title="Day of the Week"))

Let's check month wise crimes

In [ ]:
year_month_wise_crime = df.groupby(["YEAR OCC", "MONTH OCC"]).size().reset_index(name="Cases").sort_values("YEAR OCC")
px.histogram(year_month_wise_crime, x="MONTH OCC", y="Cases", text_auto=True).update_xaxes(title="Month",categoryorder="total descending").update_yaxes(title="Cases")

In [ ]:
year_month_wise_crime.describe()

In [ ]:
for year in year_month_wise_crime["YEAR OCC"].unique() : 
    fig = px.histogram(year_month_wise_crime[year_month_wise_crime["YEAR OCC"]==year], x="MONTH OCC", y="Cases", text_auto=True).update_xaxes(title="Month", categoryorder="total descending").update_yaxes(title="Crimes")
    fig.update_layout(title="Crimes in " + str(year))
    fig.show()

### Now checking status of these crimes

In [ ]:
fig=px.pie(df, names="Status Desc", height=800)
fig.update_traces(textinfo='percent+label+value')
fig.show()

### Now checking weapon used in crimes

In [ ]:
fig=px.pie(df, names="Weapon Desc", height=800)
fig.update_traces(textposition='inside', textinfo='percent+label+value')
fig.show()

Let's try removing unknown weapon

In [ ]:
fig=px.pie(df[df["Weapon Desc"]!= "UNKNOWN"], names="Weapon Desc", height=800)
fig.update_traces(textposition='inside', textinfo='percent+label+value')
fig.show()

### Let's visualize crimetype with weapon

In [ ]:
crimes_weapons_data = df.groupby(["Weapon Desc", "Crm Cd Desc"]).size().reset_index(name="Cases")
crimes_weapons_data = crimes_weapons_data[crimes_weapons_data["Cases"] > 5000] # Taking only rows which crime incidents are greater than 10000
# # px.histogram(df, X="Premise Desc")
crimes_weapons_data_pivot = crimes_weapons_data.pivot(index="Weapon Desc", columns="Crm Cd Desc", values="Cases")
crimes_weapons_data_pivot.fillna(value=0, inplace=True)
crimes_weapons_data_pivot.head()

In [ ]:
fig = px.imshow(crimes_weapons_data_pivot,
                labels=dict(x="Weapon Used", y="Type of crime", color="Number of Crimes"),
                x=crimes_weapons_data_pivot.columns,
                y=crimes_weapons_data_pivot.index
                )

fig.update_xaxes(side="top")
fig.update_layout(title= "Crime Types vs Weapon Used",
                  yaxis=dict(title="Type of crime"),
                  xaxis=dict(title="Premis description"),
                  height=800)
fig.show()